<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: azure" href="/">TheNewsHive</a>
    <button
      class="navbar-toggler collapsed bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">
        <a class="nav-link" style="color: azure" href="/">Home</a>
        <a class="nav-link" style="color: azure" href="#">About</a>
        <div class="w-100 d-flex flex-row-reverse align-items-center">
          <form method="post" action="/search" class="row g-3">
            <div class="col-auto">
              <input
                name="qInTitle"
                class="form-control form-control-sm"
                type="text"
                placeholder="Search"
              />
            </div>
            <div class="col-auto">
              <select name="country" class="form-select form-select-sm">
                <option selected value="">Country</option>
                <option value="in">India</option>
                <option value="us">Usa</option>
                <option value="af">Afganistan</option>
                <option value="al">Albania</option>
                <option value="dz">Algeria</option>
                <option value="ad">Andorra</option>
                <option value="ao">Angola</option>
                <option value="ar">Argentina</option>
                <option value="am">Armenia</option>
                <option value="au">Australia</option>
                <option value="at">Austria</option>
                <option value="az">Azerbaijan</option>
                <option value="bs">Bahamas</option>
                <option value="bh">Bahrain</option>
                <option value="bd">Bangladesh</option>
                <option value="bb">Barbados</option>
                <option value="by">Belarus</option>
                <option value="be">Belgium</option>
                <option value="bz">Belize</option>
                <option value="bj">Benin</option>
                <option value="bm">Bermuda</option>
                <option value="bt">Bhutan</option>
                <option value="bo">Bolivia</option>
                <option value="ba">Bosnia And Herzegovina</option>
                <option value="bw">Botswana</option>
                <option value="br">Brazil</option>
                <option value="bn">Brunei</option>
                <option value="bg">Bulgaria</option>
                <option value="bf">Burkina fasco</option>
                <option value="bi">Burundi</option>
                <option value="kh">Cambodia</option>
                <option value="cm">Cameroon</option>
                <option value="ca">Canada</option>
                <option value="cv">Cape Verde</option>
                <option value="ky">Cayman Islands</option>
                <option value="cf">Central African Republic</option>
                <option value="td">Chad</option>
                <option value="cl">Chile</option>
                <option value="cn">China</option>
                <option value="co">Colombia</option>
                <option value="km">Comoros</option>
                <option value="cg">Congo</option>
                <option value="ck">Cook islands</option>
                <option value="cr">Costa Rica</option>
                <option value="hr">Croatia</option>
                <option value="cu">Cuba</option>
                <option value="cw">Curaçao</option>
                <option value="cy">Cyprus</option>
                <option value="cz">Czech republic</option>
                <option value="dk">Denmark</option>
                <option value="dj">Djibouti</option>
                <option value="dm">Dominica</option>
                <option value="do">Dominican republic</option>
                <option value="cd">DR Congo</option>
                <option value="ec">Ecuador</option>
                <option value="eg">Egypt</option>
                <option value="sv">El Salvador</option>
                <option value="gq">Equatorial Guinea</option>
                <option value="er">Eritrea</option>
                <option value="ee">Estonia</option>
                <option value="sz">Eswatini</option>
                <option value="et">Ethiopia</option>
                <option value="fj">Fiji</option>
                <option value="fi">Finland</option>
                <option value="fr">France</option>
                <option value="pf">French polynesia</option>
                <option value="gm">Gabon</option>
                <option value="gm">Gambia</option>
                <option value="ge">Georgia</option>
                <option value="de">Germany</option>
                <option value="gh">Ghana</option>
                <option value="gi">Gibraltar</option>
                <option value="gr">Greece</option>
                <option value="gd">Grenada</option>
                <option value="gt">Guatemala</option>
                <option value="gn">Guinea</option>
                <option value="gy">Guyana</option>
                <option value="ht">Haiti</option>
                <option value="hn">Honduras</option>
                <option value="hk">Hong kong</option>
                <option value="hu">Hungary</option>
                <option value="is">Iceland</option>
                <option value="id">Indonesia</option>
                <option value="ir">Iran</option>
                <option value="iq">Iraq</option>
                <option value="ie">Ireland</option>
                <option value="il">Israel</option>
                <option value="it">Italy</option>
                <option value="ci">Ivory Coast</option>
                <option value="jm">Jamaica</option>
                <option value="jp">Japan</option>
                <option value="je">Jersey</option>
                <option value="jo">Jordan</option>
                <option value="kz">Kazakhstan</option>
                <option value="ke">Kenya</option>
                <option value="ki">Kiribati</option>
                <option value="xk">Kosovo</option>
                <option value="kw">Kuwait</option>
                <option value="kg">Kyrgyzstan</option>
                <option value="la">Laos</option>
                <option value="lv">Latvia</option>
                <option value="lb">Lebanon</option>
                <option value="ls">Lesotho</option>
                <option value="lr">Liberia</option>
                <option value="ly">Libya</option>
                <option value="li">Liechtenstein</option>
                <option value="lt">Lithuania</option>
                <option value="lu">Luxembourg</option>
                <option value="mo">Macau</option>
                <option value="mk">Macedonia</option>
                <option value="mg">Madagascar</option>
                <option value="mw">Malawi</option>
                <option value="my">Malaysia</option>
                <option value="mv">Maldives</option>
                <option value="ml">Mali</option>
                <option value="mt">Malta</option>
                <option value="mh">Marshall Islands</option>
                <option value="mr">Mauritania</option>
                <option value="mu">Mauritius</option>
                <option value="mx">Mexico</option>
                <option value="fm">Micronesia</option>
                <option value="md">Moldova</option>
                <option value="mc">Monaco</option>
                <option value="mn">Mongolia</option>
                <option value="me">Montenegro</option>
                <option value="ma">Morocco</option>
                <option value="mz">Mozambique</option>
                <option value="mm">Myanmar</option>
                <option value="na">Namibia</option>
                <option value="nr">Nauru</option>
                <option value="np">Nepal</option>
                <option value="nl">Netherland</option>
                <option value="nc">New caledonia</option>
                <option value="nz">New zealand</option>
                <option value="ni">Nicaragua</option>
                <option value="ne">Niger</option>
                <option value="ng">Nigeria</option>
                <option value="kp">North korea</option>
                <option value="no">Norway</option>
                <option value="om">Oman</option>
                <option value="pk">Pakistan</option>
                <option value="pw">Palau</option>
                <option value="ps">Palestine</option>
                <option value="pa">Panama</option>
                <option value="pg">Papua New Guinea</option>
                <option value="py">Paraguay</option>
                <option value="pe">Peru</option>
                <option value="ph">Philippines</option>
                <option value="pl">Poland</option>
                <option value="pt">Portugal</option>
                <option value="pr">Puerto rico</option>
                <option value="qa">Qatar</option>
                <option value="ro">Romania</option>
                <option value="ru">Russia</option>
                <option value="rw">Rwanda</option>
                <option value="lc">Saint lucia</option>
                <option value="sx">Saint martin(dutch)</option>
                <option value="ws">Samoa</option>
                <option value="sm">San Marino</option>
                <option value="st">Sao tome and principe</option>
                <option value="sa">Saudi arabia</option>
                <option value="sn">Senegal</option>
                <option value="rs">Serbia</option>
                <option value="sc">Seychelles</option>
                <option value="sl">Sierra Leone</option>
                <option value="sg">Singapore</option>
                <option value="sk">Slovakia</option>
                <option value="si">Slovenia</option>
                <option value="sb">Solomon Islands</option>
                <option value="so">Somalia</option>
                <option value="za">South africa</option>
                <option value="kr">South korea</option>
                <option value="es">Spain</option>
                <option value="lk">Sri Lanka</option>
                <option value="sd">Sudan</option>
                <option value="sr">Suriname</option>
                <option value="se">Sweden</option>
                <option value="ch">Switzerland</option>
                <option value="sy">Syria</option>
                <option value="tw">Taiwan</option>
                <option value="tj">TajikistanQatar</option>
                <option value="tz">Tanzania</option>
                <option value="th">Thailand</option>
                <option value="tl">Timor-Leste</option>
                <option value="bn">Togo</option>
                <option value="to">Tonga</option>
                <option value="tt">Trinidad and tobago</option>
                <option value="tn">Tunisia</option>
                <option value="tr">Turkey</option>
                <option value="tm">Turkmenistan</option>
                <option value="tv">Tuvalu</option>
                <option value="ug">Uganda</option>
                <option value="ua">Ukraine</option>
                <option value="ae">United arab emirates</option>
                <option value="gb">United kingdom</option>
                <option value="uy">Uruguay</option>
                <option value="uz">Uzbekistan</option>
                <option value="vu">Vanuatu</option>
                <option value="va">Vatican</option>
                <option value="ve">Venezuela</option>
                <option value="vi">Vietnam</option>
                <option value="vg">Virgin Islands (British)</option>
                <option value="wo">World</option>
                <option value="ye">Yemen</option>
                <option value="zm">Zambia</option>
                <option value="zw">Zimbabwe</option>
              </select>
            </div>

            <div class="col-auto">
              <select name="category" class="form-select form-select-sm">
                <option selected value="">Category</option>
                <option value="business">Business</option>
                <option value="crime">Crime</option>
                <option value="domestic">Domestic</option>
                <option value="education">Education</option>
                <option value="entertainment">Entertainment</option>
                <option value="environment">Environment</option>
                <option value="food">Food</option>
                <option value="health">Health</option>
                <option value="lifestyle">Lifestyle</option>
                <option value="other">Other</option>
                <option value="politics">Politics</option>
                <option value="science">Science</option>
                <option value="sports">Sports</option>
                <option value="technology">Technology</option>
                <option value="top">Top</option>
                <option value="tourism">Tourism</option>
                <option value="world">World</option>
              </select>
            </div>
            <div class="col-auto">
              <select name="language" class="form-select form-select-sm">
                <option selected value="">Language</option>
                <option value="en">English</option>
                <option value="hi">Hindi</option>
                <option value="af">Afrikaans</option>
                <option value="sq">Albanian</option>
                <option value="am">Amharic</option>
                <option value="ar">Arabic</option>
                <option value="hy">Armenian</option>
                <option value="as">Assamese</option>
                <option value="az">Azerbaijani</option>
                <option value="bm">Bambara</option>
                <option value="eu">Basque</option>
                <option value="be">Belarusian</option>
                <option value="bn">Bengali</option>
                <option value="bs">Bosnian</option>
                <option value="bg">Bulgarian</option>
                <option value="my">Burmese</option>
                <option value="ca">Catalan</option>
                <option value="ckb">Central Kurdish</option>
                <option value="zh">Chinese</option>
                <option value="hr">Croatian</option>
                <option value="cs">Czech</option>
                <option value="da">Danish</option>
                <option value="nl">Dutch</option>
                <option value="et">Estonian</option>
                <option value="pi">Filipino</option>
                <option value="fi">Finnish</option>
                <option value="fr">French</option>
                <option value="gl">Galician</option>
                <option value="ka">Georgian</option>
                <option value="de">German</option>
                <option value="el">Greek</option>
                <option value="gu">Gujarati</option>
                <option value="ha">Hausa</option>
                <option value="he">Hebrew</option>
                <option value="hu">Hungarian</option>
                <option value="is">Icelandic</option>
                <option value="id">Indonesian</option>
                <option value="it">Italian</option>
                <option value="jp">Japanese</option>
                <option value="kn">Kannada</option>
                <option value="kz">Kazakh</option>
                <option value="kh">Khmer</option>
                <option value="rw">Kinyarwanda</option>
                <option value="ko">Korean</option>
                <option value="ku">Kurdish</option>
                <option value="lv">Latvian</option>
                <option value="lt">Lithuanian</option>
                <option value="lb">Luxembourgish</option>
                <option value="mk">Macedonian</option>
                <option value="ms">Malay</option>
                <option value="ml">Malayalam</option>
                <option value="mt">Maltese</option>
                <option value="mi">Maori</option>
                <option value="mr">Marathi</option>
                <option value="mn">Mongolian</option>
                <option value="ne">Nepali</option>
                <option value="no">Norwegian</option>
                <option value="or">Oriya</option>
                <option value="ps">Pashto</option>
                <option value="fa">Persian</option>
                <option value="pl">Polish</option>
                <option value="pt">Portuguese</option>
                <option value="pa">Punjabi</option>
                <option value="ro">Romanian</option>
                <option value="ru">Russian</option>
                <option value="sm">Samoan</option>
                <option value="sr">Serbian</option>
                <option value="sn">Shona</option>
                <option value="sd">Sindhi</option>
                <option value="si">Sinhala</option>
                <option value="sk">Slovak</option>
                <option value="sl">Slovenian</option>
                <option value="so">Somali</option>
                <option value="es">Spanish</option>
                <option value="sw">Swahili</option>
                <option value="sv">Swedish</option>
                <option value="tg">Tajik</option>
                <option value="ta">Tamil</option>
                <option value="te">Telugu</option>
                <option value="th">Thai</option>
                <option value="zht">Traditional chinese</option>
                <option value="tr">Turkish</option>
                <option value="tk">Turkmen</option>
                <option value="uk">Ukrainian</option>
                <option value="ur">Urdu</option>
                <option value="uz">Uzbek</option>
                <option value="vi">Vietnamese</option>
                <option value="cy">Welsh</option>
                <option value="zu">Zulu</option>
              </select>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-sm btn-outline-light">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
